# R session files
.RData
.Rhistory
.Rproj.user/
.ipynb_checkpoints/

# Jupyter
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
.venv/
venv/
*/.venv/
*/venv/

# macOS
.DS_Store

# Intermediate or bulky results
*.rds
*.rdata
*.xlsx
*.tsv
*.log